section {
  /* min-height: 142px; */
  overflow: auto;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 1px 0;
}

/* Generic Layers */
.dropdown {
  min-width: 230px;
  height: auto;
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 15;
  cursor: default;
}
.drop-toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
}

.droplist {
  height: 25px;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  top: 26px;
}
.droplist-open {
  margin: 10px auto 15px auto;
}

.bank-pieces {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 10;
}
/* for the actual piece styling */
.piece-bank {
  position: relative;
}


/* Layer One */
.dropdown-one {
  background-color: #666666;
}
.droplist-one {
  width: 51em;  /* 17em */
}
.bank-pieces-one {
  width: 51em;
  background-color: #666666;
}
.piece-open-one {
  width: 17em;
  height: 7.6em;
}

/* Layer Two */
.dropdown-two {
  background-color: #444444;
  margin-top: 5px;
}
.droplist-two {
  width: 20em;
}
.bank-pieces-two {
  width: 20em;
  background-color: #444444;  
}
.piece-open-two {
  width: 10em;
  height: 7.6em;
}

/* Layer Three */
.dropdown-three {
  background-color: #222;
  margin-top: 5px;
}
.droplist-three {
  width: 21em; /* 10.5em */

}
.bank-pieces-three {
  width: 21em;
  background-color: #222;
}
.piece-open-three {
  width: 10.5em;
  height: 4em;
}


.cdk-drag-preview {
  opacity: .8;
}

.cdk-drag-placeholder {
  z-index: 20;
}