/* Generic Layers */
.dropdown {
  width: 230px;
  height: auto;
  border: 1px solid gray;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 15;
  cursor: default;
}
.drop-toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.droplist {
  height: 25px;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  top: 26px;
}
.droplist-open {
  margin: 10px auto 15px auto;
}

.bank-pieces {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 10;
}
/* for the actual piece styling */
.piece-bank {
  position: relative;
}


/* Layer One */
.dropdown-one {
  background-color: #666666;
}
.droplist-one {
  width: 170px;
}
.bank-pieces-one {
  width: 170px;
  background-color: #666666;
}
/* Matches height of layer 1 pieces */
.bank-pieces-open-one {
  padding-top: 76px;
}

/* Layer Two */
.dropdown-two {
  background-color: #444444;
  margin-top: 5px;
}
.droplist-two {
  width: 140px;
}
.bank-pieces-two {
  width: 140px;
  background-color: #444444;  
  flex-direction: row;
}
.piece-open-two {
  width: 70px;
  height: 76px;
}

/* Layer Three */
.dropdown-three {
  background-color: #222;
  margin-top: 5px;
}
.droplist-three {
  width: 105px;
}
.bank-pieces-three {
  width: 105px;
  background-color: #222;
}
.bank-pieces-open-three {
  padding-top: 40px;
}


.cdk-drag-preview {
  opacity: .8;
}

.cdk-drag-placeholder {
  z-index: 20;
}