section {
  min-height: 75px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin: 5px 10px 10px 10px;
  padding: 10px 0px;
  background-color: whitesmoke; /*ivory*/
  border: 1px solid #222222;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-family: sans-serif !important;
  font-size: 14px !important;
}
@media (max-width: 900px) {
  section {
    font-size: 16px !important;
  }
}
section>div {
  margin: auto 5px;
}

button, input {
  margin: 3px;
  padding: 10px;
  border: 1px solid #222222;
  border-radius: 30px;
  background-color: #efefef;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
}
button:hover, input:hover {
  background-color: #c5c5c5;
}
button:active, input:active {
  border: 1px solid rgba(255,64,129);
  background-color: rgba(255, 64, 129, 0.2);
}
button:focus, input:focus {
  outline: none;
}
.button-container {
  flex-grow: 1;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-container>* {
  min-width: 130px;
}
.pattern-dropdown {
  margin: 3px;
  height: 38px;
}


/* Solution Picker */
.solutions-toggle {
  min-width: 170px;
  margin-right: 10px;
}
.solutions-toggle {
  min-width: 180px;
}


.solutions {
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.solutions>* {
  margin: 2px;
}
.mat-slide-toggle-content {
  font-family: 'Times New Roman', Times, serif;
}
.all-solutions {
  color: rgba(255,64,129);
  font-family: 'Times New Roman', Times, serif;
}
.limited-solutions {
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
select:focus {
  outline: none;
}


.solutions-remaining {
  min-width: 170px;
  height: 50px;
  box-sizing: border-box;
  padding: 2px;
  border: 1px dashed #222222;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 900px) {
  .solutions-remaining {
    min-width: 180px;
  }
}