<h1><em>Concentra</em> Puzzle Solver</h1>

<main>
  <!--
    <control-panel></control-panel>
  -->
  
  <article calculateHeight>
    <piece-bank></piece-bank>
    <circle-representation></circle-representation>
  </article>

  <control-panel-vertical></control-panel-vertical>
</main>

<!--
<div class="text">
  <p>This is based off of the 1994 <em>Concentra</em> puzzle by the DaMert Company.</p>
  <p>They claim there is but a single solution ...</p>
</div>
<footer>
  <p><em>Hero background image/art by <a href="http://www.heropatterns.com/" target="blank">Steve Schoger</a>, CC 4.0.</em></p>
</footer>
-->