<main>
  <h1><em>Concentra</em> Puzzle Solver</h1>

  <article [ngClass]="currentLayout" [ngStyle]="{'height': generateHeightBasedOnLayout()}">

    <control-panel *ngIf="currentLayout === 'layout-mixed'"></control-panel>
    

    <div *ngIf="displayControls" (click)="displayControls = !displayControls"> <!--ngIf for mobile-->
      <span>Main Menu</span>
      <svg  
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rebeccapurple" 
        width="25px" height="25px"><path d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg>
    </div>
    <control-panel-vertical *ngIf="currentLayout === 'layout-vertical'"></control-panel-vertical>

    
    <section calculateHeight [ngClass]="currentLayout">
      <piece-bank [ngClass]="currentLayout"></piece-bank>
      <circle-representation></circle-representation>

      <control-panel-vertical *ngIf="currentLayout === 'layout-horizontal'"></control-panel-vertical>
    </section>

  </article>

  <footer>
    <div class="text">
      <p>This is based off of the 1994 <em>Concentra</em> puzzle by the DaMert Company.</p>
      <p>They claim there is but a single solution ...</p>
    </div>
    <p><em>Hero background image/art by <a href="http://www.heropatterns.com/" target="blank">Steve Schoger</a>, CC 4.0.</em></p>
  </footer>
</main>
