section {
  min-width: 230px;
  box-sizing: border-box;
  margin: 10px 10px 10px 10px;
  padding: 15px 0px;
  background-color: ivory; /*ivory*/
  border: 1px solid #222222;
  border-radius: 30px;
  box-shadow: 1px 1px rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif !important;
  font-size: 14px !important;
}
@media (max-width: 900px) {
  section {
    font-size: 16px !important;
  }
}

button, input {
  margin: 3px;
  padding: 10px;
  border: 1px solid #222222;
  border-radius: 30px;
  background-color: #efefef;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
}
button:hover, input:hover {
  background-color: #c5c5c5;
}
button:active, input:active {
  border: 1px solid rgba(255,64,129);
  background-color: rgba(255, 64, 129, 0.2);
}
button:focus, input:focus {
  outline: none;
}
@media (max-width: 900px) {
  button, input {
    font-size: 16px !important;
  }
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 900px) {
  button, input {
    min-width: 155px;
  }
}
@media (min-width: 901px) {
  button, input {
    min-width: 130px;
  }
}
.pattern-dropdown {
  margin: 3px;
  height: 38px;
}
.select-mobile {
  min-width: 155px;
  font-size: 16px;
  border-radius: 30px;
  border-color: black;
  background-color: #efefef;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  height: 40px;
  padding: 0px 10px;
}



.spacer {
  flex-grow: 1;
}

/* Solution Picker */
.solutions-toggle {
  min-width: 170px;
}
@media (max-width: 900px) {
  .solutions-toggle {
    min-width: 180px;
  }
}

.solutions {
  margin: 7px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.soln-picker {
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.soln-picker>* {
  margin-bottom: 5px;
}
.mat-slide-toggle-content {
  font-family: 'Times New Roman', Times, serif;
}
.all-solutions {
  color: rgba(255,64,129);
  font-family: 'Times New Roman', Times, serif;
}
.limited-solutions {
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
select:focus {
  outline: none;
}

.solutions-remaining {
  min-width: 170px;
  height: 50px;
  box-sizing: border-box;
  padding: 2px;
  border: 1px dashed #222222;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 900px) {
  .solutions-remaining {
    min-width: 180px;
  }
}