<section [formGroup]="controlButtonsForm" [ngStyle]="{'min-height': pieceSizes.containerSize + 'px', 'flex-direction': currentLayout === 'layout-vertical' ? 'column-reverse' : 'column'}">
  <input 
    type="button"
    class="solutions-toggle" 
    (click)="onToggleSolutionsPanel()"
    formControlName="toggleSolutionsPanel">

  <div id="solutions" class="solutions" [ngStyle]="{'display': displaySolutionsPanel ? 'flex' : 'none'}">
    <div class="soln-picker">
      <mat-slide-toggle 
        disableRipple="true" 
        labelPosition="before" 
        [checked]="!limitSolutionsShown" 
        (change)="onSlideChange($event)"
        formControlName="showAllSolutions"
        [ngClass]="!limitSolutionsShown ? 'all-solutions' : 'limited-solutions'"
        *ngIf="currentPattern === 'Planets'">
        Show all solutions
      </mat-slide-toggle>
    
      <ng-select 
        *ngIf="currentLayout === 'layout-horizontal'"
        class="custom-select" 
        id="soln-number" 
        formControlName="solutionNumberDropdown"
        [items]="numberOfSolutionsArray" 
        bindLabel="number" 
        bindValue="number"
        (change)="onLoadNewSolution($event)"
        placeholder="Solution #"
        [clearable]="false"
        [searchable]="false">
          <ng-template ng-label-tmp let-item="item">
            {{item.value}}
          </ng-template>
      </ng-select>

      <!-- Mobile Alternative -->
      <select 
        *ngIf="currentLayout === 'layout-vertical'"
        id="soln-number-mobile" 
        class="select-mobile" 
        (change)="onLoadNewSolutionMobile(+$event.target.value)"
        formControlName="solutionNumberDropdown">
          <option disabled selected>Solutions:</option>
          <option *ngFor="let solnNumber of numberOfSolutionsArray; let i = index">{{ solnNumber }}</option>
      </select>
    </div>
  
    <div class="solutions-remaining">
      <p *ngIf="remainingSolutions !== 1 || !allPiecesUsed">{{ remainingSolutions }} remaining {{ remainingSolutions === 1 ? 'solution' : 'solutions' }}</p>
      <p *ngIf="remainingSolutions === 1 && allPiecesUsed">You found solution # {{ currentSolutionNumber }}</p>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="button-container" [ngStyle]="{'flex-direction': currentLayout === 'layout-vertical' ? 'column-reverse' : 'column'}">
    <button (click)="moveAllToBank()">Move All to Bank</button>
    <button (click)="moveAllToCircle()">Move all to Circle</button>

    <input 
      type="button"
      (click)="onToggleColorLetters()"
      formControlName="toggleLetters">
    
    <input 
      *ngIf="currentLayout === 'layout-vertical'"
      type="button"
      (click)="onToggleAutoOpen()"
      formControlName="autoOpenEnabled">

    <div class="pattern-dropdown">
      <ng-select 
        *ngIf="currentLayout === 'layout-horizontal'"
        class="custom-select" 
        id="pattern-select" 
        formControlName="patternNameDropdown"
        (change)="onLoadNewPattern($event)"
        [clearable]="false"
        [searchable]="false">
          <ng-option disabled>Patterns:</ng-option>
          <ng-option value="Planets">Planets</ng-option>
          <ng-option value="Egypt">Egypt</ng-option>
          <ng-option value="Atlantis">Atlantis</ng-option>
      </ng-select>

      <!-- Mobile Alternative -->
      <select 
        *ngIf="currentLayout === 'layout-vertical'"
        id="pattern-select-mobile" 
        class="select-mobile" 
        (change)="onLoadNewPattern($event.target.value)"
        formControlName="patternNameDropdown">
          <option disabled>Patterns:</option>
          <option>Planets</option>
          <option>Egypt</option>
          <option>Atlantis</option>
      </select>
    </div>
  </div>
</section>