.circle-puzzle {
  height: 800px;
  width: 800px;
  background-color: #999999;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
}

/* Generic Stylings */
.layer {
  border: 1px black solid;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
}
.layer-middle {
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
}
.piece-circle {
  position: absolute; 
  z-index: 30;
}


/* Div Rotation Styling*/
.layer-zero {
  height: 800px;
  width: 800px;
  background-color: #999999;
  position: relative;
  top: 0;
  left: 0;
}
.layer-middle-zero {
  height: 750px;
  width: 750px;
  background-color: #999999;
  margin: -375px 0 0 -375px;  
}

.layer-one {
  width: 700px;
  height: 700px;
  background-color: #666666;
  margin: -350px 0 0 -350px;
}
.layer-middle-one {
  height: 600px;
  width: 600px;
  background-color: #666666;
  margin: -300px 0 0 -300px;  
}

.layer-two {
  height: 500px;
  width: 500px;
  background-color: #444444;
  border: 1px black dashed;
  margin: -250px 0 0 -250px;
}
.layer-middle-two {
  height: 400px;
  width: 400px;
  background-color: #444444;
  margin: -200px 0 0 -200px;  
}

.layer-three {
  height: 300px;
  width: 300px;
  background-color: #222;
  border: 1px black dashed;
  margin: -150px 0 0 -150px;
}
.layer-middle-three {
  height: 240px;
  width: 240px;
  background-color: #222;
  margin: -120px 0 0 -120px;  
}


/* Drag & Drop Styling */
.drag-list {
  border-top-left-radius: 31%;
  border-top-right-radius: 31%;
  border-bottom-left-radius: 21%;
  border-bottom-right-radius: 21%;
  background-color: white;
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.drag-list-one {
  width: 170px;
  height: 76px;
  border: 1px dotted black; 
}
.drag-list-two {
  width: 70px;
  height: 76px;
}
.drag-list-three {
  width: 105px;
  height: 40px;
}


.cdk-drag-preview {
  opacity: .8;
}
.cdk-drag-placeholder {
  z-index: 20;
}

/*
.drag-placeholder { 
  width: 170px;
  height: 76px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  background-color: navajowhite;
  display: block;
  box-sizing: border-box;
  position: absolute; 
  transform-origin: center;
  border: 3px dotted brown;
}
*/