
<!-- LAYER ZERO -->
<section class="circle-puzzle" id="circle-puzzle">
  <div class="layer layer-zero">
    <div class="layer-middle layer-middle-zero"> 
      <div 
        class="piece piece-zero piece-circle" 
        [positionTopStart]="i"
        [circleHeight]="750"
        [pieceWidth]="42"
        [pieceHeight]="42"
        *ngFor="let piece of pieces[0]; let i = index"
        [ngClass]="{ 'green': piece === 'G', 'orange': piece === 'O', 'purple': piece === 'P' }">

        <span *ngIf="displayColorLetters; else noLetterZero">{{ piece }}</span>

        <ng-template #noLetterZero><span></span></ng-template>

      </div>
    </div>
  </div>


  <!-- LAYER ONE -->
  <div class="layer layer-one">
    <div cdkDropListGroup class="layer-middle layer-middle-one">
      <div 
        id="{{'dl-one-' + i}}"
        *ngFor="let array of pieces[1]; let i = index"
        class="drag-list drag-list-one"
        [ngStyle]="{'cursor': isDragging2 || isDragging3 ? 'not-allowed' : 'default'}"
        cdkDropList
        [cdkDropListData]="pieces[1][i]"
        cdkDropListConnectedTo="piece-bank-one"
        (cdkDropListDropped)="dropped($event)"
        [positionTopStart]="i"
        [circleHeight]="600"
        [pieceWidth]="170"
        [pieceHeight]="76">

        <div 
          class="piece piece-one piece-circle" 
          [ngStyle]="{'cursor': !isDragging1 && !isDragging2 && !isDragging3 ? 'grab' : 'not-allowed'}"
          *ngFor="let piece of pieces[1][i]"
          cdkDrag
          (cdkDragStarted)="dragStarted(1)"
          (cdkDragEnded)="dragEnded(1)"> 

          <div *ngIf="displayColorLetters; else noLetterOne">
            <span [ngClass]="{ 'green': piece.top === 'G', 'orange': piece.top === 'O', 'purple': piece.top === 'P' }">{{ piece.top }}</span>
            <br>
            <span [ngClass]="{ 'green': piece.left === 'G', 'orange': piece.left === 'O', 'purple': piece.left === 'P' }">{{ piece.left }}</span>
            <span [ngClass]="{ 'green': piece.right === 'G', 'orange': piece.right === 'O', 'purple': piece.right === 'P' }">{{ piece.right }}</span>
          </div>
            
          <ng-template #noLetterOne>           
            <span [ngClass]="{ 'green': piece.top === 'G', 'orange': piece.top === 'O', 'purple': piece.top === 'P' }"></span>
            <br>
            <span [ngClass]="{ 'green': piece.left === 'G', 'orange': piece.left === 'O', 'purple': piece.left === 'P' }"></span>
            <span [ngClass]="{ 'green': piece.right === 'G', 'orange': piece.right === 'O', 'purple': piece.right === 'P' }"></span>
          </ng-template>

          
          <div *cdkDragPreview>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="hotpink" width="50px" height="50px"><path d="M0 0h24v24H0z" fill="none"/><path d="M20.5 11H19V7c0-1.1-.9-2-2-2h-4V3.5C13 2.12 11.88 1 10.5 1S8 2.12 8 3.5V5H4c-1.1 0-1.99.9-1.99 2v3.8H3.5c1.49 0 2.7 1.21 2.7 2.7s-1.21 2.7-2.7 2.7H2V20c0 1.1.9 2 2 2h3.8v-1.5c0-1.49 1.21-2.7 2.7-2.7 1.49 0 2.7 1.21 2.7 2.7V22H17c1.1 0 2-.9 2-2v-4h1.5c1.38 0 2.5-1.12 2.5-2.5S21.88 11 20.5 11z"/></svg>
          </div>
          
          <!--
          <div *cdkDragPreview class="piece-one" style="transform: rotate(45deg) !important">
            <span [ngClass]="{ 'green': piece.top === 'G', 'orange': piece.top === 'O', 'purple': piece.top === 'P' }">{{ piece.top }}</span>
            <br>
            <span [ngClass]="{ 'green': piece.left === 'G', 'orange': piece.left === 'O', 'purple': piece.left === 'P' }">{{ piece.left }}</span>
            <span [ngClass]="{ 'green': piece.right === 'G', 'orange': piece.right === 'O', 'purple': piece.right === 'P' }">{{ piece.right }}</span>
          </div>
          <div 
            *cdkDragPlaceholder 
            class="drag-placeholder">
          </div> 
          -->
        </div>
      </div>
    </div>
  </div>



  <!-- LAYER TWO -->
  <div cdkDropListGroup class="layer layer-two" >
    <div class="layer-middle layer-middle-two">
      <div
        id="{{'dl-two-' + i}}"        
        *ngFor="let array of pieces[2]; let i = index"
        class="drag-list drag-list-two"
        [ngStyle]="{'cursor': isDragging1 || isDragging3 ? 'not-allowed' : 'default'}"
        cdkDropList
        [cdkDropListData]="pieces[2][i]"
        cdkDropListConnectedTo="piece-bank-two"
        (cdkDropListDropped)="dropped($event)"
        [positionLeftStart]="i"
        [circleHeight]="400"
        [pieceWidth]="70"
        [pieceHeight]="76">

        <div 
          class="piece piece-two piece-circle" 
          [ngStyle]="{'cursor': !isDragging1 && !isDragging2 && !isDragging3 ? 'grab' : 'not-allowed'}"
          *ngFor="let piece of pieces[2][i]"
          cdkDrag
          (cdkDragStarted)="dragStarted(2)"
          (cdkDragEnded)="dragEnded(2)">

          <div *ngIf="displayColorLetters; else noLetterTwo">
            <span [ngClass]="{ 'green': piece.left === 'G', 'orange': piece.left === 'O', 'purple': piece.left === 'P' }">{{ piece.left }}</span>
            <span [ngClass]="{ 'green': piece.right === 'G', 'orange': piece.right === 'O', 'purple': piece.right === 'P' }">{{ piece.right }}</span>
            <br>
            <span [ngClass]="{ 'green': piece.bottom === 'G', 'orange': piece.bottom === 'O', 'purple': piece.bottom === 'P' }">{{ piece.bottom }}</span>
          </div>

          <ng-template #noLetterTwo>
            <span [ngClass]="{ 'green': piece.left === 'G', 'orange': piece.left === 'O', 'purple': piece.left === 'P' }"></span>
            <span [ngClass]="{ 'green': piece.right === 'G', 'orange': piece.right === 'O', 'purple': piece.right === 'P' }"></span>
            <br>
            <span [ngClass]="{ 'green': piece.bottom === 'G', 'orange': piece.bottom === 'O', 'purple': piece.bottom === 'P' }"></span>
          </ng-template>          


          <div *cdkDragPreview>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="hotpink" width="50px" height="50px"><path d="M0 0h24v24H0z" fill="none"/><path d="M20.5 11H19V7c0-1.1-.9-2-2-2h-4V3.5C13 2.12 11.88 1 10.5 1S8 2.12 8 3.5V5H4c-1.1 0-1.99.9-1.99 2v3.8H3.5c1.49 0 2.7 1.21 2.7 2.7s-1.21 2.7-2.7 2.7H2V20c0 1.1.9 2 2 2h3.8v-1.5c0-1.49 1.21-2.7 2.7-2.7 1.49 0 2.7 1.21 2.7 2.7V22H17c1.1 0 2-.9 2-2v-4h1.5c1.38 0 2.5-1.12 2.5-2.5S21.88 11 20.5 11z"/></svg>
          </div>
        
        </div>
      </div>
    </div>
  </div>

  
  <!-- LAYER THREE -->
  <div cdkDropListGroup class="layer layer-three">
    <div class="layer-middle layer-middle-three"> 
      <div
        id="{{'dl-three-' + i}}" 
        *ngFor="let array of pieces[3]; let i = index"
        class="drag-list drag-list-three"
        [ngStyle]="{'cursor': isDragging1 || isDragging2 ? 'not-allowed' : 'default'}"
        cdkDropList
        [cdkDropListData]="pieces[3][i]"
        cdkDropListConnectedTo="piece-bank-three"
        (cdkDropListDropped)="dropped($event)"
        [positionBottomStart]="i"
        [circleHeight]="240"
        [pieceWidth]="105"
        [pieceHeight]="40">

        <div 
          class="piece piece-three piece-circle" 
          [ngStyle]="{'cursor': !isDragging1 && !isDragging2 && !isDragging3 ? 'grab' : 'not-allowed'}"
          *ngFor="let piece of pieces[3][i]"
          cdkDrag
          (cdkDragStarted)="dragStarted(3)"
          (cdkDragEnded)="dragEnded(3)"> 

          <div *ngIf="displayColorLetters; else noLetterThree" class="piece-three-container">
            <span [ngClass]="{ 'green': piece.left === 'G', 'orange': piece.left === 'O', 'purple': piece.left === 'P' }">{{ piece.left }}</span>
            <span [ngClass]="{ 'green': piece.right === 'G', 'orange': piece.right === 'O', 'purple': piece.right === 'P' }">{{ piece.right }}</span>
          </div>

          <ng-template #noLetterThree>
            <div class="piece-three-container">
              <span [ngClass]="{ 'green': piece.left === 'G', 'orange': piece.left === 'O', 'purple': piece.left === 'P' }"></span>
              <span [ngClass]="{ 'green': piece.right === 'G', 'orange': piece.right === 'O', 'purple': piece.right === 'P' }"></span>
            </div>
          </ng-template>


          <div *cdkDragPreview class="cdk-drag-preview">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="hotpink" width="50px" height="50px"><path d="M0 0h24v24H0z" fill="none"/><path d="M20.5 11H19V7c0-1.1-.9-2-2-2h-4V3.5C13 2.12 11.88 1 10.5 1S8 2.12 8 3.5V5H4c-1.1 0-1.99.9-1.99 2v3.8H3.5c1.49 0 2.7 1.21 2.7 2.7s-1.21 2.7-2.7 2.7H2V20c0 1.1.9 2 2 2h3.8v-1.5c0-1.49 1.21-2.7 2.7-2.7 1.49 0 2.7 1.21 2.7 2.7V22H17c1.1 0 2-.9 2-2v-4h1.5c1.38 0 2.5-1.12 2.5-2.5S21.88 11 20.5 11z"/></svg>
          </div>
      
        </div>

      </div>
    </div>
  </div>
</section>