<section cdkDropListGroup class="circle-puzzle" id="circle-puzzle">
  <div class="layer-zero">
    <div class="layer-zero-middle"> 
      <div 
        class="piece-zero" 
        [positionTopStart]="i"
        [circleHeight]="750"
        [pieceWidth]="42"
        [pieceHeight]="42"
        *ngFor="let piece of pieces[0]; let i = index"
        [ngClass]="{ 'green': piece === 'G', 'orange': piece === 'O', 'purple': piece === 'P' }"
        > 
        <span>{{ piece }}</span>
      </div>
    </div>
  </div>





  <div class="layer-one">
    <div class="layer-one-middle">

      <div 
      *ngFor="let array of pieces[1]; let i = index"
      class="drag-list"
      cdkDropList
      [cdkDropListData]="pieces[1][i]"
      (cdkDropListDropped)="dropped($event)"
      [positionTopStart]="i"
      [circleHeight]="600"
      [pieceWidth]="170"
      [pieceHeight]="76"
      >

        <div 
          class="piece-one" 
          
          *ngFor="let piece of pieces[1][i]"
          cdkDrag> 
          <span [ngClass]="{ 'green': piece.top === 'G', 'orange': piece.top === 'O', 'purple': piece.top === 'P' }">{{ piece.top }}</span>
          <br>
          <span [ngClass]="{ 'green': piece.left === 'G', 'orange': piece.left === 'O', 'purple': piece.left === 'P' }">{{ piece.left }}</span>
          <span [ngClass]="{ 'green': piece.right === 'G', 'orange': piece.right === 'O', 'purple': piece.right === 'P' }">{{ piece.right }}</span>
          
          <div 
            *cdkDragPlaceholder 
            class="drag-placeholder" 
          ></div>
        </div>
      </div>
    </div>
  </div>




  <div class="layer-two" >
    <div class="layer-two-middle">
      <div 
        class="piece-two" 
        [positionLeftStart]="i"
        [circleHeight]="400"
        [pieceWidth]="70"
        [pieceHeight]="76"
        *ngFor="let piece of pieces[2]; let i = index"
        > 
        <span [ngClass]="{ 'green': piece.left === 'G', 'orange': piece.left === 'O', 'purple': piece.left === 'P' }">{{ piece.left }}</span>
        <span [ngClass]="{ 'green': piece.right === 'G', 'orange': piece.right === 'O', 'purple': piece.right === 'P' }">{{ piece.right }}</span>
        <br>
        <span [ngClass]="{ 'green': piece.bottom === 'G', 'orange': piece.bottom === 'O', 'purple': piece.bottom === 'P' }">{{ piece.bottom }}</span>
      </div>
    </div>
  </div>

  <div class="layer-three">
    <div class="layer-three-middle"> 
      <div 
        class="piece-three" 
        [positionBottomStart]="i"
        [circleHeight]="240"
        [pieceWidth]="105"
        [pieceHeight]="40"
        *ngFor="let piece of pieces[3]; let i = index"
        > 
        <span [ngClass]="{ 'green': piece.left === 'G', 'orange': piece.left === 'O', 'purple': piece.left === 'P' }">{{ piece.left }}</span>
        <span [ngClass]="{ 'green': piece.right === 'G', 'orange': piece.right === 'O', 'purple': piece.right === 'P' }">{{ piece.right }}</span>
      </div>
    </div>
  </div>
</section>